

%estilos-contacto {
    background-color:$color-t-2;
    padding: 16px 22px; 
    margin-bottom: 25px;
    font-size:map-get($font-size , xs );
    display: flex;
    border: solid 2px $color-t-4;
}
%estilos-contacto-2 {
    color:$color-t-4;
    font-size: map-get($font-size , xxs );
    font-weight:lighter;
    text-transform: uppercase;
}

                    
.contact-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 800px;
    .formulario-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 50px; 
        font-size: map-get($font-size , xs );
        .form-title{
            text-align: center;
            margin-bottom: 25px;
            color: $bg-color-1;
            font-family: 'Roboto', cursive;
            text-transform: uppercase;
        }
        .input-group{
            display: flex;
            flex-direction: column;
            input{
                &:not(.btn-form){
                    @extend %estilos-contacto;
                }
                &::placeholder{
                    @extend %estilos-contacto-2;
                }
            }
            textarea{
                @extend %estilos-contacto;
                &::placeholder{
                    @extend %estilos-contacto-2;
                }
            }
            .btn-form {
                background-color:$color-t-2;
                color:$color-t-1;
                padding: 10px 10px;
                cursor: pointer;
                transition: background-color 0.3s, color 0.3s;
                font-size: map-get($font-size , s );
                font-weight: 600;
                border: solid 2px $color-t-1;
                text-transform: uppercase;
                width: 120px;
                align-self: center;
                &:hover {
                    background-color:$color-t-1;
                    color:$color-t-2;
                }
            }
        }
    }
}
